<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.placio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NIE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewTickets"></activity>
        <activity android:name=".Studentstats" />
        <activity android:name=".RaiseTicket" />
        <activity android:name=".CompanyEvents" />
        <activity android:name=".EditResume" />
        <activity android:name=".Resume" />
        <activity android:name=".EditProfile" />
        <activity android:name=".CopleteProfile" />
        <activity android:name=".ResumeReview" />
        <activity android:name=".Personal_Details" />
        <activity android:name=".CompanyDetails" />
        <activity android:name=".Events" />
        <activity android:name=".Announcements" />
        <activity android:name=".Profile" />
        <activity android:name=".MainHome" />
        <activity android:name=".Form" />
        <activity android:name=".Register" />
        <activity android:name=".forgotpassword" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>